.mainHeader {
	background-color:#F0D1FF;	

}

h1 {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 100px;
	background-color: #F0D1FF;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
}
